@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  background-color: #f2f3f4;
  font-family: "Roboto", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:hover {
  text-decoration: none;
}

button {
  border: none;
  box-shadow: none;
}
button:focus, button:active, button:hover, button:focus-visible {
  box-shadow: none;
  outline: none;
  border: none;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.card {
  background-color: #fff;
  border-radius: 12px;
  margin-bottom: 16px;
}
.card--area .card__change {
  padding-bottom: 16px;
}
.card--area .card__change,
.card--area .card__change-second {
  border: none;
}
.card--area .card__change-first,
.card--area .card__change-second {
  padding-top: 0;
  padding-bottom: 0;
}
.card--table {
  width: 100%;
}
.card--table thead {
  border-bottom: 1px solid rgba(34, 49, 63, 0.1);
}
.card--table th {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: rgba(1, 18, 34, 0.55);
  padding: 16px 5px;
}
.card--table th:first-child {
  width: calc(100% - 150px);
  padding-left: 16px;
}
.card--table th:last-child {
  padding-right: 16px;
}
.card--table th:not(:first-child) {
  width: 50px;
}
.card--table tbody tr td {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: rgba(1, 18, 34, 0.55);
  padding: 10px 5px;
  vertical-align: middle;
}
.card--table tbody tr td:first-child {
  width: calc(100% - 150px);
  padding-left: 16px;
}
.card--table tbody tr td:first-child:not(.td-name) {
  padding-left: 30px;
  position: relative;
}
.card--table tbody tr td:first-child:not(.td-name)::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 16px;
  width: 4px;
  height: 4px;
  background-color: rgba(1, 18, 34, 0.55);
  border-radius: 2px;
  z-index: 1;
}
.card--table tbody tr td:last-child {
  padding-right: 16px;
}
.card--table tbody tr td:not(:first-child) {
  width: 50px;
}
.card--table tbody tr td.td-bold {
  color: #22313F;
}
.card--table-section {
  border-top: 1px solid rgba(34, 49, 63, 0.1);
}
.card--table-section:first-child {
  border: none;
}
.card--table-section td {
  padding-top: 16px !important;
}
.card__tb-item {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: rgba(1, 18, 34, 0.55);
  padding: 16px 5px;
}
.card__tb-item:not(:first-child) {
  width: 50px;
}
.card__tb-item:first-child {
  width: calc(100% - 150px);
  padding-left: 16px;
}
.card__tb-item:last-child {
  padding-right: 16px;
}
.card__head {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__head--border {
  border-bottom: 1px solid rgba(34, 49, 63, 0.1);
  padding-bottom: 16px;
  margin-bottom: 16px;
}
.card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #22313F;
}
.card__change {
  border-top: 1px solid rgba(34, 49, 63, 0.1);
  border-bottom: 1px solid rgba(34, 49, 63, 0.1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.card__change-first {
  padding: 12px 16px;
  width: 50%;
}
.card__change-first--title {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: rgba(1, 18, 34, 0.55);
  margin-bottom: 13px;
}
.card__change-first--total {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
.card__change-first--index {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}
.card__change-first--compare {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}
.card__change-second {
  padding: 12px 16px;
  width: 50%;
  border-left: 1px solid rgba(34, 49, 63, 0.1);
}
.card__change-second--title {
  font-size: 12px;
  line-height: 18px;
  color: rgba(1, 18, 34, 0.55);
  margin-bottom: 5px;
  font-weight: 500;
}
.card__change-second--index {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}
.card__change-second--all {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #22313F;
  margin-right: 6px;
}
.card__change-second--flex {
  display: flex;
  align-items: center;
}
.card__list {
  padding: 12px 16px;
}
.card__list-item {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card__list-item:last-child {
  margin-bottom: 0;
}
.card__list-item--name {
  position: relative;
  padding-left: 16px;
}
.card__list-item--name::before {
  content: "";
  background-color: rgba(34, 49, 63, 0.1);
  width: 6px;
  height: 6px;
  border-radius: 4px;
  position: absolute;
  top: 6px;
  left: 0;
}
.card__list-item--name, .card__list-item--all {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #22313F;
}
.card__list-item--name {
  width: 35%;
}
.card__list-item--change {
  width: 45%;
}
.card__list-item--all {
  width: 20%;
  padding: 0 10px;
}
.card__list-item--change {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #6A7178;
}

.color-blue-primary {
  color: #2169E8 !important;
}

.color-green-primary {
  color: #00BC3C !important;
}

.color-red-primary {
  color: #DC2323 !important;
}

.color-gray-primary {
  color: #6A7178 !important;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.ek__tab {
  background-color: #fff;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ek__tab-btn {
  background-color: transparent;
  border-radius: 3px;
  height: 45px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #22313F;
  text-align: center;
  min-width: 33%;
}
.ek__tab-btn--active {
  background: #2169E8;
  color: #fff;
}
.ek__update-at {
  margin: 16px 0;
  color: #22313F;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}
.ek__tab-view {
  height: 50px;
  background: #fff;
  box-shadow: 0px 1px 0px rgba(1, 18, 34, 0.05);
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}
.ek__tab-view-btn {
  height: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: rgba(1, 18, 34, 0.55);
}
.ek__tab-view-btn--active {
  color: #2169E8;
  border-bottom: 2px solid #2169E8;
}
.ek__comment {
  padding-bottom: 60px;
}
.ek__comment-item {
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 48px;
}
.ek__comment-item--child {
  margin-left: 44px;
  position: relative;
}
.ek__comment-item--child::before {
  content: '';
  position: absolute;
  top: -125px;
  left: -30px;
  width: 1px;
  height: calc(100% + 50px);
  background-color: rgba(34, 49, 63, 0.1);
}
.ek__comment-item--child::after {
  content: '';
  position: absolute;
  top: 32px;
  left: -30px;
  width: 30px;
  height: 1px;
  background-color: rgba(34, 49, 63, 0.1);
}
.ek__comment-content {
  margin-left: 12px;
  background: #fff;
  border-radius: 12px;
  padding: 16px 20px;
  position: relative;
}
.ek__comment-avatar {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-top: 16px;
}
.ek__comment-head {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 12px;
}
.ek__comment-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #22313F;
}
.ek__comment-date {
  font-size: 14px;
  line-height: 21px;
  color: rgba(1, 18, 34, 0.55);
  margin-left: 10px;
}
.ek__comment-info {
  font-size: 14px;
  line-height: 21px;
  color: rgba(1, 18, 34, 0.55);
}
.ek__comment-reply {
  margin-left: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #2169E8;
  background-color: transparent;
  border: none;
  box-shadow: none;
  position: absolute;
  bottom: -36px;
  left: 0;
}

.main {
  padding: 12px 16px;
}
.main__fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  border-top: 1px solid rgba(34, 49, 63, 0.1);
  width: 100%;
  height: 52px;
  z-index: 10;
}
.main__fixed-browse {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: rgba(1, 18, 34, 0.55);
  font-size: 14px;
  line-height: 21px;
}
.main__fixed-browse button {
  color: #2169E8;
  font-size: 14px;
  line-height: 21px;
  background: transparent;
  border: none;
  outline: none;
  margin: 0 6px;
}
.main__fixed-comment {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.main__fixed-comment input {
  border: none;
  height: 100%;
  width: calc(100% - 50px);
  padding-left: 16px;
  padding-right: 16px;
  font-size: 14px;
  color: #22313F;
}
.main__fixed-comment input:focus-within, .main__fixed-comment input:focus {
  outline: none;
  box-shadow: none;
}
.main__fixed-comment button {
  margin: 0 6px;
  background: transparent;
  border: none;
  outline: none;
}

/*# sourceMappingURL=style.css.map */
