.ek {
    &__tab {
        background-color: $white;
        padding: 8px;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__tab-btn {
        background-color: transparent;
        border-radius: 3px;
        height: 45px;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        color: $black-primary;
        text-align: center;
        min-width: 33%;
        &--active {
            background: $blue-primary;
            color: $white;
        }
    }
    &__update-at {
        margin: 16px 0;
        color: $black-primary;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
    }
    &__tab-view {
        height: 50px;
        background: $white;
        box-shadow: 0px 1px 0px rgba(1, 18, 34, 0.05);
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
    }
    &__tab-view-btn {
        height: 50px;
        background-color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25%;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        color: $gray-opacity;
        &--active {
            color: $blue-primary;
            border-bottom: 2px solid $blue-primary;
        }
    }
    &__comment{
        padding-bottom: 60px;
    }
    &__comment-item {
        display: inline-flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 48px;
        &--child {
            margin-left: 44px;
            position: relative;
            &::before{
                content: '';
                position: absolute;
                top: -125px;
                left: -30px;
                width: 1px;
                height: calc(100% + 50px);
                background-color: $gray-border-color;
            }
            &::after{
                content: '';
                position: absolute;
                top: 32px;
                left: -30px;
                width: 30px;
                height: 1px;
                background-color: $gray-border-color;
            }
        }
    }
    &__comment-content {
        margin-left: 12px;
        background: $white;
        border-radius: 12px;
        padding: 16px 20px;
        position: relative;
    }
    &__comment-avatar {
        width: 32px;
        height: 32px;
        border-radius: 16px;
        margin-top: 16px;
    }
    &__comment-head {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 12px;
    }
    &__comment-name {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: $black-primary;
    }
    &__comment-date {
        font-size: 14px;
        line-height: 21px;
        color: $gray-opacity;
        margin-left: 10px;
    }
    &__comment-info {
        font-size: 14px;
        line-height: 21px;
        color: $gray-opacity;
    }
    &__comment-reply {
        margin-left: 12px;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: $blue-primary;
        background-color: transparent;
        border: none;
        box-shadow: none;
        position: absolute;
        bottom: -36px;
        left: 0;
    }
}
