$blue-primary: #2169E8;
$green-primary: #00BC3C;
$black-primary: #22313F;
$red-primary: #DC2323;
$gray-primary: #6A7178;
$gray-opacity: rgba(1, 18, 34, 0.55);;
$bg-primary: #f2f3f4;
$white: #fff;
$gray-border-color: rgba(34, 49, 63, 0.1);

$roboto: 'Roboto', sans-serif;